/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  }
.details {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.details img {
  width: 100%;
}
.details 
.details__info {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .details { 
    text-align: center;
  }
}
.wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.new-task {
    margin: 1em 0;
}
.new-task__input,
.item-label,
.item-input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.new-task__row-wrapper {
  display: flex;
}
.menu {
  margin: 0;
  padding: 0px;
}
.menu__item, 
.title {
  list-style: none;
}
input,
button{
  outline: none;
}
button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #3a3a3a;
}
/* Heading */
.title,
label[for="new-task__input"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 19px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
input[type="text"]:focus {
  color: #333;
}

/* New Task */
label[for="new-task__input"] {
  display: block;
  margin: 0 0 20px;
}
#new-task__input {
  width: 318px;
}
.new-task__row-wrapper > button:hover {
  color: #0fc57c;
}

/* Task list */
.menu__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item > * {
  vertical-align: middle;
}

.menu__item > .item-checkbox {
  margin: 0 10px;
}
.menu__item > .item-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.item-input {
  width: 226px;
}
.item-delete:hover {
  color: #cf2323;
}
.item-delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.item-delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.menu__item input[type=text] {
  display: none;
}

.menu__item-edit-mode input[type=text] {
  display: inline-block;
  width: 224px;
}

.menu__item-edit-mode label {
  display: none;
}